/********** NAVBAR ************/

.nav-title-custom {
  font-size: 35px;
  color: #ff6600 !important;
}

.nav-title-custom:hover {
  text-shadow: 0 0 5px #ff6600;
}
.nav-link-custom {
  font-size: 24px;
  padding: 0 10px;
  color: white !important;
}

.nav-link-custom:hover {
  color: #ff6600 !important;
}

/********** GAMES TABLE ************/

.game-container-custom {
  margin-top: 50px;
}

.game-container-custom h2 {
  color: white;
}

.game-container-custom a {
  text-decoration: none;
  color: #ff6600;
}

.game-container-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}

.win {
  color: rgb(1, 189, 1);
}

.lose {
  color: rgb(241, 52, 52);
}
