<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/about-styles.css" />
  </head>
  <body class="bg-dark" style="color: white;">
    <!----------------- NAVBAR  ---------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand nav-title-custom" href="{{url_for('index')}}"
        >The Hoop Scoop</a
      >
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('index')}}"
              >Home</a
            >
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('players')}}"
              >Players</a
            >
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('teams')}}"
              >Teams</a
            >
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('games')}}"
              >Games</a
            >
          </li>
          <li class="nav-item my-2 active" style="margin-right: 20px;">
            <a class="nav-link nav-link-custom" href="{{url_for('about')}}"
              >About</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!----------------- JUMBOTRON  ---------------->
    <div
      class="jumbotron jumbotron-fluid text-center bg-secondary jumbo-custom"
    >
      <div class="container">
        <h1 class="display-3 jumbo-title-custom">
          <b>The Hooper Scoopers</b>
        </h1>
        <ul class="member-names">
          <li><a href="#ayan">Ayan Karmakar</a></li>
          <li><a href="#lina">Lina Ly</a></li>
          <li><a href="#jai">Jai Mistry</a></li>
          <li><a href="#shrey">Shrey Shah</a></li>
          <li><a href="#kevin">Kevin Shin</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <!----------------- TEAM STATISTICS ---------------->
      <div class="position-relative team-stats-custom">
        <div class="team-statistics">
          <h2>Team Statistics</h2>
          <ul class="team-stats">
            <li>Total Issues: 39</li>
            <li>Total Commits: 31</li>
            <li>Total Unit Tests: 0</li>
          </ul>
        </div>
        <div class="team-links">
          <h2>Relevant Links</h2>
          <ul class="relevant-links">
            <li>
              <a
                href="https://gitlab.com/ayan_karmakar/cs373-idb/-/wikis/home"
                target="_blank"
                >GitLab Wiki</a
              >
            </li>
            <li>
              <a
                href="https://gitlab.com/ayan_karmakar/cs373-idb"
                target="_blank"
                >GitLab Repo</a
              >
            </li>
            <li>
              <a
                href="https://documenter.getpostman.com/view/11805826/SzzrZaEj?version=latest"
                target="_blank"
                >Postman API</a
              >
            </li>
            <li>
              <a
                href="https://gitlab.com/ayan_karmakar/cs373-idb/-/issues"
                target="_blank"
                >GitLab Issue Tracker</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!----------------- Development Tools ---------------->
      <div class="container position-relative development-tools-custom">
        <h2>Development Tools</h2>
        <ul class="development-stats">
          <li>
            <a
              target="_blank"
              href="https://flask.palletsprojects.com/en/1.1.x/"
              >Flask</a
            >
          </li>
          <li>
            <a
              href="https://cloud.google.com/gcp/?utm_source=google&utm_medium=cpc&utm_campaign=na-US-all-en-dr-bkws-all-all-trial-p-dr-1008076&utm_content=text-ad-lpsitelinkCCexp2-any-DEV_c-CRE_113120493247-ADGP_Hybrid+%7C+AW+SEM+%7C+BKWS+%7C+US+%7C+en+%7C+Multi+~+Cloud+Platform-KWID_43700011014879364-kwd-10876442192&utm_term=KW_cloud%20platform-ST_cloud+platform&gclid=CjwKCAjw88v3BRBFEiwApwLevWQ6DIGCmURFlTZhv-HhAYxTt55WT9npCkTsKPLl2LihhkkZWxbTChoC-gQQAvD_BwE"
            >
              Google Cloud Platform</a
            >
          </li>
          <li><a target="_blank" href="https://gitlab.com/">GitLab</a></li>
        </ul>
        <ul class="development-stats">
          <li>
            <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
          </li>
          <li><a target="_blank" href="https://nc.me/">Namecheap</a></li>
          <li>
            <a target="_blank" href="https://www.postman.com/">Postman</a>
          </li>
          <li><a target="_blank" href="https://slack.com/">Slack</a></li>
        </ul>
      </div>
      <!----------------- DATA SOURCES ---------------->
      <div class="container position-relative data-sources-custom">
        <h2>Data Sources</h2>
        <ul class="data-sources-list">
          <li>
            <a target="_blank" href="https://www.balldontlie.io/#players"
              >Players</a
            >
          </li>
          <li>
            <a target="_blank" href="https://www.balldontlie.io/#teams"
              >Teams</a
            >
          </li>
          <li>
            <a target="_blank" href="https://www.balldontlie.io/#games"
              >Games</a
            >
          </li>
        </ul>
        <p>
          *All our data was obtained from the players, teams, and games section
          of the balldontlie API. No API key is required.
        </p>
      </div>
      <!----------------- INDIVIDUAL PROFILES  ---------------->
      <!-- Ayan -->
      <a name="ayan"></a>
      <div class="position-relative profile-custom">
        <img
          class="profile-photo"
          src="static/images/picture-of-ayan.jpeg"
          alt="picture of Ayan"
        />
        <div class="profile-info">
          <p><b>Name:</b> Ayan Karmakar</p>
          <p>
            <b>Bio:</b> Hi! My name is Ayan. I am a third year CS major and I
            love playing chess.
          </p>
          <p><b>Major Responsibilities:</b> GUI Design</p>
        </div>
        <ul class="profile-stats">
          <li>Commits: 21</li>
          <li>Issues: 16</li>
          <li>Unit Tests: 0</li>
        </ul>
      </div>
      <!-- Lina -->
      <a name="lina"></a>
      <div class="position-relative overflow-hidden profile-custom">
        <div class="profile-info">
          <p><b>Name:</b> Lina Ly</p>
          <p>
            <b>Bio:</b> Hi, my name is Lina and I'm a third year CS major. I am
            a huge fan of tetris.
          </p>
          <p><b>Major Responsibilities: </b>GCP Deployment</p>
        </div>
        <img
          class="profile-photo"
          src="static/images/picture-of-lina.jpg"
          alt="picture of Lina"
        />
        <ul class="profile-stats">
          <li>Commits: 4</li>
          <li>Issues: 14</li>
          <li>Unit Tests: 0</li>
        </ul>
      </div>
      <!-- Jai -->
      <a name="jai"></a>
      <div class="position-relative overflow-hidden profile-custom">
        <img
          class="profile-photo"
          src="static/images/picture-of-jai.jpeg"
          alt="picture of Jai"
        />
        <div class="profile-info">
          <p><b>Name:</b> Jai Mistry</p>
          <p>
            <b>Bio:</b> Hello! My name is Jai Mistry. I am a third year CS major
            and I am a huge basketball fan.
          </p>
          <p><b>Major Responsibilities: </b>Flask Integration</p>
        </div>
        <ul class="profile-stats">
          <li>Commits: 4</li>
          <li>Issues: 4</li>
          <li>Unit Tests: 0</li>
        </ul>
      </div>
      <!-- Shrey -->
      <a name="shrey"></a>
      <div class="position-relative overflow-hidden profile-custom">
        <div class="profile-info">
          <p><b>Name:</b> Shrey Shah</p>
          <p>
            <b>Bio:</b> Hey my name is Shrey and I am a third year CS student. I
            want a cat.
          </p>
          <p><b>Major Responsibilities: </b>GCP Deployment</p>
        </div>
        <img
          class="profile-photo"
          src="static/images/picture-of-shrey.png"
          alt="picture of Shrey"
        />
        <ul class="profile-stats">
          <li>Commits: 0</li>
          <li>Issues: 0</li>
          <li>Unit Tests: 0</li>
        </ul>
      </div>
      <!-- Kevin -->
      <a name="kevin"></a>
      <div class="position-relative overflow-hidden profile-custom">
        <img
          class="profile-photo"
          src="static/images/picture-of-kevin.jpg"
          alt="picture of Kevin"
        />
        <div class="profile-info">
          <p><b>Name:</b> Kevin Shin</p>
          <p>
            <b>Bio:</b> I'm a fourth-year CS/Math student, and I most enjoy card
            games.
          </p>
          <p><b>Major Responsibilities: </b>API Design</p>
        </div>
        <ul class="profile-stats">
          <li>Commits: 2</li>
          <li>Issues: 5</li>
          <li>Unit Tests: 0</li>
        </ul>
      </div>
    </div>
    <div class="end-of-page"></div>
  </body>
</html>
