<!DOCTYPE html>
<html>
  <head>
    <title>Player</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/player-styles.css" />
  </head>
  <body class="bg-secondary" style="color: white;">
    <!----------------- NAVBAR  ---------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand nav-title-custom" href="{{url_for('index')}}"
        >The Hoop Scoop</a
      >
      <button
        class="navbar-toggler bg-secondary"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('players')}}">Players</a>
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('teams')}}">Teams</a>
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('games')}}">Games</a>
          </li>
          <li class="nav-item my-2 active" style="margin-right: 20px;">
            <a class="nav-link nav-link-custom" href="{{url_for('about')}}">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <!----------------- TEAM DATA ---------------->
    <a class="btn btn-dark back-button-custom" href="{{url_for('players')}}">
      &laquo; Back to Players
    </a>
    <div class="section-cards container">
      <div class="card-deck text-center content-custom">
        <div class="container">
          <div class="row">
            <div
              class="card mb-4 shadow-sm col-sm-7 bg-dark card-header-custom"
            >
              <div class="card-header card-header-text-custom">
                <h4>James Harden</h4>
              </div>
              <div class="card-body player-custom">
                <ul class="list-unstyled mt-3 mb-4 attribute-list-custom">
                  <li><b>Team: </b><a href="{{url_for('team')}}">Houston Rockets</a></li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>Position: </b>Point Guard</li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>Height: </b>6-5</li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>Weight: </b>220</li>
                </ul>
              </div>
            </div>
            <!----------------- GAMES LINK ---------------->
            <div class="right column col-sm-5">
              <div class="card mb-5 shadow-sm bg-dark games-link-custom">
                <a href="{{url_for('games')}}">Past Games</a>
              </div>
              <!----------------- PLAYER STATS ---------------->
              <div class="card mb-5 shadow-sm bg-dark stats-list-custom">
                <div class="card-header stats-header-text-custom">
                  <h4>Player Stats</h4>
                </div>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><b>Games Played: </b>37</li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>Points Per Game: </b>29.6</li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>Rebounds Per Game: </b>8.54</li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>Assists Per Game: </b>7.38</li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>Steals Per Game: </b>1.32</li>
                  <div class="attribute-separator">-----------</div>
                  <li><b>Blocks Per Game: </b>0.65</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
