<!DOCTYPE html>
<html>
  <head>
    <title>Players</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/players-styles.css" />
  </head>
  <body class="bg-secondary">
    <!----------------- NAVBAR  ---------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand nav-title-custom" href="{{url_for('index')}}"
        >The Hoop Scoop</a
      >
      <button
        class="navbar-toggler bg-secondary"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('index')}}"
              >Home</a
            >
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('players')}}"
              >Players</a
            >
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('teams')}}"
              >Teams</a
            >
          </li>
          <li class="nav-item my-2 active">
            <a class="nav-link nav-link-custom" href="{{url_for('games')}}"
              >Games</a
            >
          </li>
          <li class="nav-item my-2 active" style="margin-right: 20px;">
            <a class="nav-link nav-link-custom" href="{{url_for('index')}}"
              >About</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!----------------- PLAYERS TABLE  ---------------->
    <div class="container player-container-custom">
      <h2>NBA Players</h2>
      <div class="table-responsive text-center">
        <table class="table table-dark table-striped table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Team</th>
              <th>Position</th>
              <th>Height (ft-in)</th>
              <th>Weight (lb)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{{url_for('player')}}">DeMar DeRozan</a></td>
              <td><a href="{{url_for('team')}}">San Antonio Spurs</a></td>
              <td>Small Forward</td>
              <td>6-6</td>
              <td>220</td>
            </tr>
            <tr>
              <td><a href="{{url_for('player')}}">Luka Doncic</a></td>
              <td><a href="{{url_for('team')}}">Dallas Maverics</a></td>
              <td>Point Guard</td>
              <td>6-7</td>
              <td>218</td>
            </tr>
            <tr>
              <td><a href="{{url_for('player')}}">James Harden</a></td>
              <td><a href="{{url_for('team')}}">Houston Rockets</a></td>
              <td>Point Guard</td>
              <td>6-5</td>
              <td>220</td>
            </tr>
          </tbody>
        </table>
      </div>
      <img src="static/images/players-page-picture.jpg" alt="nba players" />
    </div>
  </body>
</html>
