/********** JUMBOTRON ************/

.jumbo-custom {
  background-color: #cf5300;
  color: black;
  padding: 30px 0;
}

.jumbo-title-custom {
  margin-bottom: 40px;
  text-align: center;
}

.jumbo-button-custom {
  font-size: 30px;
  padding: 5px;
  background-color: #222;
}

.jumbo-button-custom:hover {
  text-decoration: none;
  background-color: black;
  text-shadow: 0 0 2px white;
}

/********** SECTION CARDS ************/

.section-cards a:hover {
  text-decoration: none;
  box-shadow: 0 0 11px white !important;
}

.card-deck-custom {
  display: flex;
  flex-wrap: wrap;
}

.card-custom {
  min-width: 310px;
  height: 420px;
  margin-bottom: 100px;
  border: 1px solid white;
}

.card-header-custom {
  background-color: rgb(41, 41, 41);
}

.card-header-text-custom {
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.player-body-custom {
  background-image: url('../images/nba-player.jpg');
  background-size: cover;
}

.team-body-custom {
  background-image: url('../images/nba-teams.jpg');
  background-size: cover;
}

.game-body-custom {
  background-image: url('../images/nba-game.jpg');
  background-size: cover;
}
