/********** MODEL HEADERS ************/

.headers-custom {
  position: relative;
  margin-bottom: 5px;
}

h2 {
  display: inline;
}

.search-items {
  display: inline;
  position: absolute;
  right: 0;
  margin-left: 10px;
}

.search-label {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.search-input:focus {
  outline: none;
}

/********** MODEL TABLES ************/

.model-container-custom {
  margin-top: 50px;
}

.model-container-custom h2 {
  color: white;
}

.model-container-custom a {
  text-decoration: none;
  color: #ff6600;
}

.table-header-button-custom {
  color: white;
  background-color: #111;
  border: none;
}

.table-header-button-custom:focus {
  outline: none;
}
.model-container-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}

.win {
  color: rgb(1, 189, 1);
}

.lose {
  color: rgb(241, 52, 52);
}
