/********** PLAYER DATA ************/
.back-button-custom {
  margin-left: 10%;
  margin-top: 10px;
  color: white;
  background-color: black;
}

.back-button-custom:hover {
  text-decoration: none;
  background-color: black;
  text-shadow: 0 0 2px white;
}

.row {
  margin-top: 30px;
}

.card-header-custom {
  font-size: 40px;
  padding: 0;
}

.card-header-text-custom {
  padding: 10px;
  background-color: black;
}

.card-header-custom h4 {
  font-size: 40px;
  margin: 0;
}

.player-custom {
  font-size: 30px;
  background-color: #151515;
}

.player-custom li {
  padding: 10px 0;
}

.player-custom a {
  text-decoration: none;
  color: #ff6600;
}

.player-custom a:hover {
  text-shadow: 0 0 2px #ff6600;
}

.attribute-separator {
  font-size: 20px;
  color: rgb(122, 121, 121);
}

/********** GAMES LINK ************/

.games-link-custom {
  height: 50px;
  font-size: 30px;
  margin: 0 0 20px 0 !important;
  background-color: black;
}

.games-link-custom a {
  text-decoration: none;
  color: #ff6600;
}

.games-link-custom a:hover {
  font-weight: 600;
}

/********** PLAYER STATS ************/

.stats-header-text-custom {
  font-size: 25px;
  padding: 7px;
  background-color: black;
}
.stats-header-text-custom h4 {
  margin: 0;
}

.stats-list-custom {
  font-size: 20px;
  margin: 30px 0 !important;
  background-color: #151515;
}
